html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  display: block;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.widget {
  margin-bottom: 1em;
}

h1 {
    @apply text-6xl
}

.dont-lose-focus{
/*placeholder class to mark elements that shouldn't make thier parent lose the focus*/
}