.circleMarker {
  border-radius: 100%;
  border: 0.25rem solid #8cbf26;
  background-color: rgba(#8cbf26, 0.5);
}

.my-div-icon{
  background-color: red;
  border-color: blue;
  width: 30px;
  height: 30px;
}