#mapid {
    height: 85vh;
    width: 85vw;
    background: black;
    /*height: 700px;*/
    /*width: 700px;*/
}

.infotile {
    display: flex;
}

.infotile div {
    margin: auto;
    background-color: grey;
}

.center {
    margin: auto;
    width: 80%;
    border: 3px solid #000;
    padding: 10px;
}

.labelled-vertex-marker {
    background-color: rgba(255, 255, 0, 0.5);
    border: 1px solid #666;
    border-radius: 100%;
}
/*the proximity m arekr is the marker that is placed on the closest vertex when the mao is clicked*/
.proximity-marker {
    background-color: rgba(0, 255, 0, 0.5);
    border: 1px solid #666;
    border-radius: 100%;
}
/*class for a static text label*/
.label-container {
    background-color: rgba(255, 0, 0, 0);
    border-radius: 100%;
}
.label-vertex {
    color: lightblue;
    position: relative;
    top: 0.5rem;
}