@import '../../reactBlueTemplate/styles/variables';

.singleGraphGrid {
  padding: 1rem;
  display: grid;
  grid-template-columns: minmax(0, 0.25fr) minmax(0, 0.75fr);
  height: 92%;
  grid-template-rows: minmax(0, 0.10fr) minmax(0, 0.90fr);
  gap: 1rem;
}

.span1 {
  grid-column: 1;
  grid-row: 1;
}

.leftPanel {
  height: 100%;
  overflow-y: auto;

  
}

.myMap {
  height: 100%;
  border-radius: 1%;
  background-color: $main-background !important;
  z-index: 10;
}

.copyGtmCommand {
  &:active {
    cursor: pointer;
    font-style: oblique;
  }
}

.plot {
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}