DEBUG = True
TESTING = False
    
# DB Postgres CONFIGURATIONS
DB_USER_NAME = 'tokengallerist'
DB_PASSWORD = '1234'
DB_URL = '127.0.0.1'
DB_NAME = 'tg_main'
SQLALCHEMY_DATABASE_URI = f'postgresql://{DB_USER_NAME}:{DB_PASSWORD}@{DB_URL}/{DB_NAME}'

# Name conventions
VERTEX_GLOBAL_TABLE = 'tg_vertex'
EDGE_GLOBAL_TABLE = 'tg_edge'