@import '../../../styles/app';

.root {
  overflow-y: scroll;
  overflow-x: hidden;
}

.overFlow {
  overflow-x: auto;
}

.mainTableWidget {
  :global {
    .table td {
      border: none;
    }
  }
}