.graph-gallery-container {

  padding: 3rem 1rem 1rem;

  // 865 is the width when the title "The token gallery"  warps
  @media (max-width: 865px) {
    padding: 6rem 1rem 1rem;
  }
}

.galleryGrid {
  padding: 1rem;
  display: grid;
  grid-template-columns: minmax(0, 0.25fr) minmax(0, 0.75fr);
  height: 92%;
  grid-template-rows: minmax(0, 0.10fr) minmax(0, 0.90fr);
  gap: 1rem;
}